<app-default-auth
  title="Entre em sua conta"
  primaryBtnText="Entrar"
  secondaryBtnText="Cadastrar"
  (login)="login()"
>
<form [formGroup]="loginForm" class="login-form">
  <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="email" placeholder="example@example.com" />
        @if (loginForm.get('email')?.invalid &&
        loginForm.get('email')?.touched) {
        <mat-error>Email é obrigatório</mat-error>
        }
      </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="password" type="password" placeholder="********">
    @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
      <mat-error>Senha é obrigatória</mat-error>
    }
  </mat-form-field>

</form>
</app-default-auth>
