<div class="container-fluid bg-light">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-10 mx-auto py-3 d-flex flex-column">
      <app-controller
        controllerTitle="Materiais"
        controllerIconText="back"
        controllerPrimaryButtonText="Adicionar material"
        (add)="openModal('materialType')"
      ></app-controller>
      @if (isMaterialFormOpened()) {
      <app-material-form
        (close)="closeAddMaterialForm()"
        (submit)="saveMaterial($event)"
        [isSaving]="isSaving()"
        [material]="editingMaterial"
        [formType]="materialType()"
      ></app-material-form>
      }
      <h3 class="mt-3 text-center">Pedras</h3>
      @if (marbleshopMaterials$ | async; as marbleshopMaterials) {
      <app-marbleshop-material-list
        [marbleshopMaterials]="marbleshopMaterials"
        (openModel)="openModal('updatePrice')"
      ></app-marbleshop-material-list>
      }
      <hr class="w-100" />
      <h3 class="text-center">Outros Materiais</h3>
      @if (miscellaneousMaterials$ | async; as miscellaneousMaterials) {
      <app-miscellaneous-material-list
        [miscellaneousMaterials]="miscellaneousMaterials"
      ></app-miscellaneous-material-list>
      }
    </div>
  </div>
</div>

<app-modal
  (confirm)="confirmModal()"
  modalConfirmActionButtonText="Confirmar"
  modalConfirmActionButtonColor="info"
>
  @if (modalType() === 'materialType') {
  <h5>Que tipo de material quer adicionar ?</h5>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <button
      (click)="selectType('marbleshop')"
      type="button"
      class="btn bg-light w-25"
      [ngClass]="materialType() === 'marbleshop' ? 'active' : 'inactive'"
    >
      Pedras @if (materialType() === 'marbleshop') {
      <i class="bi bi-check-lg"></i>
      }
    </button>
    <button
      (click)="selectType('miscellaneous')"
      type="button"
      class="btn bg-light w-25"
      [ngClass]="materialType() === 'miscellaneous' ? 'active' : 'inactive'"
    >
      Diversos @if (materialType() === 'miscellaneous') {
      <i class="bi bi-check-lg"></i>
      }
    </button>
  </div>
  }
</app-modal>
