<mat-toolbar class="app-navbar-material">
  <div class="navbar-content-wrapper">
    <button
      mat-icon-button
      class="navbar-toggler-material"
      [matMenuTriggerFor]="mobileMenu"
    >
      <mat-icon fontIcon="menu"></mat-icon>
    </button>

    <div class="navbar-links-desktop">
      <ul class="navbar-nav-material">
        <li class="nav-item-material">
          <a mat-button class="nav-link-material" aria-current="page" href="#">
            <mat-icon fontIcon="dashboard"></mat-icon> <span>Painel</span>
          </a>
        </li>

        <li class="nav-item-material">
          <button mat-button [matMenuTriggerFor]="clientesMenu">
            <mat-icon>people</mat-icon> Clientes
          </button>
          <mat-menu #clientesMenu="matMenu">
            <button mat-menu-item [routerLink]="['/', marbleshopId, 'pedidos']">
              Pedidos
            </button>
            <button
              mat-menu-item
              [routerLink]="['/', marbleshopId, 'orcamentos']"
            >
              Orçamentos
            </button>
            <button mat-menu-item>Visitas</button>
            <mat-divider></mat-divider>
            <button
              mat-menu-item
              [routerLink]="['/', marbleshopId, 'clientes']"
            >
              Ver Clientes
            </button>
          </mat-menu>
        </li>

        <li class="nav-item-material">
          <button mat-button [matMenuTriggerFor]="estoquesMenu">
            <mat-icon>inventory_2</mat-icon> Estoques
          </button>
          <mat-menu #estoquesMenu="matMenu">
            <button mat-menu-item>Produção</button>
            <button mat-menu-item>Colocação</button>
            <button mat-menu-item>Chapas</button>
            <mat-divider></mat-divider>
            <button mat-menu-item>Ver Estoques</button>
          </mat-menu>
        </li>

        <li class="nav-item-material">
          <a mat-button class="nav-link-material" aria-current="page" href="#">
            <mat-icon>assignment</mat-icon> Produção
          </a>
        </li>

        <li class="nav-item-material">
          <a mat-button class="nav-link-material" aria-current="page" href="#">
            <mat-icon>assignment_turned_in</mat-icon> Colocação
          </a>
        </li>

        <li class="nav-item-material">
          <button mat-button [matMenuTriggerFor]="financeMenuDesktop">
            <mat-icon>account_balance</mat-icon> Financeiro
          </button>
          <mat-menu #financeMenuDesktop="matMenu">
            <button mat-menu-item [routerLink]="['/', marbleshopId, 'contas']">
              Contas
            </button>

            <mat-divider></mat-divider>
            <button
              mat-menu-item
              [routerLink]="['/', marbleshopId, 'financas']"
            >
              Ver Finanças
            </button>
          </mat-menu>
        </li>

        <li class="nav-item-material">
          <a
            mat-button
            class="nav-link-material"
            aria-current="page"
            routerLink="/materiais"
          >
            <mat-icon>category</mat-icon> Materiais
          </a>
        </li>
      </ul>
    </div>

    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item href="#">
        <mat-icon>dashboard</mat-icon> Painel
      </button>
      <button mat-menu-item [matMenuTriggerFor]="clientesMenuMobile">
        <mat-icon>people</mat-icon> Clientes
      </button>
      <mat-menu #clientesMenuMobile="matMenu">
        <button mat-menu-item [routerLink]="['/', marbleshopId, 'pedidos']">
          Pedidos
        </button>
        <button mat-menu-item [routerLink]="['/', marbleshopId, 'orcamentos']">
          Orçamentos
        </button>
        <button mat-menu-item>Visitas</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/', marbleshopId, 'clientes']">
          Ver Clientes
        </button>
      </mat-menu>

      <button mat-menu-item [matMenuTriggerFor]="estoquesMenuMobile">
        <mat-icon>inventory_2</mat-icon> Estoques
      </button>
      <mat-menu #estoquesMenuMobile="matMenu">
        <button mat-menu-item>Produção</button>
        <button mat-menu-item>Colocação</button>
        <button mat-menu-item>Chapas</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Ver Estoques</button>
      </mat-menu>

      <button mat-menu-item href="#">
        <mat-icon>assignment</mat-icon> Produção
      </button>
      <button mat-menu-item href="#">
        <mat-icon>assignment_turned_in</mat-icon> Colocação
      </button>
      <button mat-menu-item [matMenuTriggerFor]="financeMenu">
        <mat-icon>account_balance</mat-icon> Financeiro
      </button>
      <mat-menu #financeMenu="matMenu">
        <button mat-menu-item>Contas</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/', marbleshopId, 'financas']">
          Ver Financeiro
        </button>
      </mat-menu>
      <button mat-menu-item routerLink="/materiais">
        <mat-icon>category</mat-icon> Materiais
      </button>
    </mat-menu>
  </div>
  <button matIconButton [matMenuTriggerFor]="menu">
    <mat-icon fontIcon="account_circle"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Perfil</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Encerrar Sessão</button>
  </mat-menu>
</mat-toolbar>
