@for(quotation of quotations(); track $index) {
<div class="accordion mb-2" id="accordion{{ $index }}">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button bg-light collapsed"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + $index"
        aria-expanded="true"
        [attr.aria-controls]="'#collapse' + $index"
      >
        <div
          class="main-infos text-black w-100 d-flex align-items-center justify-content-between pe-3"
        >
          <h6>{{ quotation.name }} de {{ quotation.customer.name }}</h6>
          <span>{{ quotation.totalValue | currency : "BRL" }}</span>
          <span>{{ quotation.totalArea | number : "1.0-3" }}m²</span>
        </div>
      </button>
    </h2>
    <div
      id="collapse{{ $index }}"
      class="accordion-collapse collapse"
      [attr.data-bs-parent]="'#accordion' + $index"
    >
      <div class="accordion-body">
        <h6 class="text-center fw-semibold">Informações Principais</h6>
        <div class="row g-0">
          <div
            class="col-6 d-flex flex-column align-items-center justify-content-center"
          >
            <p class="mb-0">
              <strong>Cliente:</strong>
              {{ quotation.customer.name }}
            </p>
            <p class="mb-0">
              <strong>Endereço:</strong> {{ quotation.address }}
            </p>
            <p class="mb-0">
              <strong>Status:</strong>
              {{ quotation.quotationStatus | quotationStatus }}
            </p>
            <p class="mb-0"><strong>Área Total:</strong>
              {{quotation.totalArea | number: '1.0-3'}}m²
            </p>
          </div>
          <div
            class="col-6 d-flex flex-column align-items-center justify-content-center"
          >
            <p class="mb-0">
              <strong>Contato:</strong>
              {{ quotation.customer.phone }}
            </p>
            <p class="mb-0">
              <strong>Gerado em:</strong>
              {{ quotation.createdAt | date : "dd/MM/yyyy" }}
            </p>
            <p class="mb-0">
              <strong>Prazo:</strong> {{ quotation.deadlineDays }} dias
            </p>
            <p class="mb-0 bg-dark bg-opacity-25 px-2 py-1">
              <strong>Valor Total:</strong>
              {{quotation.totalValue | currency: 'BRL'}}
            </p>
          </div>
        </div>
        <hr />

        <h6 class="text-center fw-semibold">Itens Principais</h6>
        @if (quotation.marbleshopItems.length > 0) { @for (item of
        quotation.marbleshopItems; track $index) {
        <div class="mb-2 border rounded overflow-hidden">
          <div class="px-2 py-1 bg-dark bg-opacity-10 mb-2">
            <h6>Item {{ $index + 1 }}</h6>
            <div class="d-flex justify-content-between align-content-center">
              <div>
                <strong>{{ item.name }}</strong>
                - {{ item.measureX | number : "1.0-3" }}x{{
                  item.measureY | number : "1.0-3"
                }}
              </div>
              <p class="mb-0">
                <strong>Quantidade:</strong> {{ item.quantity }}
              </p>
              <p class="mb-0">
                <strong>Material:</strong> {{ item.marbleshopMaterial.name }}
              </p>
            </div>
          </div>

          @if (item.marbleshopSubItems.length > 0) {
          <h6 class="text-center">Complementos/Acabamentos</h6>
          @for (subItem of item.marbleshopSubItems; track $index) {
          <div class="px-2 py-1">
            <strong>{{ subItem.quantity }}</strong>
            - {{ subItem.name }} - {{ subItem.measureX | number : "1.0-3" }}x{{
              subItem.measureY | number : "1.0-3"
            }}
          </div>
          }
          <hr />

          }
          <div
            class="d-flex px-2 py-1 justify-content-between align-items-center"
          >
            <p>
              <strong>Área:</strong>
              {{ item.unitArea | number : "1.0-3" }}m²
            </p>
            <p class="fw-semibold">
              Área Total: {{ item.totalArea | number : "1.0-3" }}m²
            </p>
            <p>
              <strong>Valor:</strong>
              {{ item.unitValue | currency : "BRL" }}
            </p>
            <p class="fw-semibold">
              Valor Total:
              {{ item.totalValue | currency : "BRL" }}
            </p>
          </div>
        </div>
        } } @else {
        <p class="text-muted">Nenhum item de marmoraria registrado.</p>
        }

        <hr />

        <!-- Itens Diversos -->
        @if (quotation.miscellaneousItems.length > 0) {
        <h6 class="text-center">Itens Diversos</h6>
        <div class="border rounded overflow-hidden">
          @for (miscellaneousItem of quotation.miscellaneousItems; track $index)
          {

          <div class="px-2 py-1 bg-dark bg-opacity-10 mb-2">
            <h6>Item {{ $index + 1 }}</h6>
            <div class="d-flex align-content-center justify-content-between">
              <strong>{{ miscellaneousItem.name }}</strong>
              <p class="mb-0">
                <strong>Quantidade: </strong>{{ miscellaneousItem.quantity }}
              </p>
              <p class="mb-0">
                <strong>Material:</strong>
                {{ miscellaneousItem.miscellaneousMaterial.name }} -
                {{ miscellaneousItem.miscellaneousMaterial.details }}
              </p>
            </div>
          </div>
          <div
            class="d-flex px-2 py-1 justify-content-between align-items-center"
          >
            <p>
              <strong>Valor:</strong>
              {{ miscellaneousItem.unitValue | currency : "BRL" }}
            </p>
            <p class="fw-semibold">
              Valor Total: {{ miscellaneousItem.totalValue | currency : "BRL" }}
            </p>
          </div>
          }
        </div>

        } @else {
        <p class="text-muted">Nenhum item diverso registrado.</p>
        }
        <hr />
      </div>
    </div>
  </div>
</div>
}
