<div class="financial-summary-container">
  <mat-card class="summary-card-resume">
    <mat-card-header>
      <mat-card-title
        [class.text-danger]="calculateBalance() < 0"
        [class.text-success]="calculateBalance() > 0"
      >
        {{ calculateBalance() | currency : "BRL" }}
      </mat-card-title>
      <mat-card-subtitle> Saldo </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title class="text-success">
        {{ totalPayments() | currency : "BRL" }}
      </mat-card-title>
      <mat-card-subtitle> Total Recebido </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title class="text-danger">{{
        totalBills() | currency : "BRL"
      }}</mat-card-title>
      <mat-card-subtitle>Total Pago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
