.customer-card
  margin-bottom: 16px
  width: 100%

  &-header
    display: flex
    align-items: center
    padding-bottom: 0
.customer-card-header mat-card-title,
.customer-card-header mat-card-subtitle
  margin: 0
.title-wrapper
  display: flex
  flex-direction: column

.spacer
  flex: 1 1 auto

.button-group
  display: flex
  align-items: center
  gap: 8px

.customer-card-content
  display: flex
  justify-content: space-between
  padding-top: 0

button mat-icon
  margin-right: 8px
