.customers-container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  gap: 16px

.customer-card
  margin-bottom: 16px

.customer-menu-button
  margin-left: auto

.button-group
  display: flex
  align-items: center
  gap: 8px

button mat-icon
  margin-right: 8px

mat-card-content
  display: flex
  flex-direction: column
  justify-content: center
  gap: 0.2rem
  padding-top: 0.5rem
  p
    margin: 0
