<mat-card [formGroup]="miscellaneousMaterialForm" class="miscellaneous-material-form-card">
  <mat-card-header>
    <div class="form-titles">
      <mat-card-title>Adicionando material diverso</mat-card-title>
      <mat-card-subtitle>Preencha os dados</mat-card-subtitle>
    </div>
    <button mat-icon-button (click)="closeMiscellaneousMaterialForm()" aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content class="form-fields-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Cor/Detalhes</mat-label>
      <input matInput formControlName="details">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="price">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Tipo de Material</mat-label>
      <mat-select formControlName="miscellaneousMaterialType">
        @for(type of types; track $index) {
          <mat-option [value]="type.value">{{ type.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end" class="form-actions">
    <button mat-stroked-button (click)="closeMiscellaneousMaterialForm()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="submitMaterialForm()" [disabled]="isSaving()">
      @if (isSaving()) {
        <mat-spinner diameter="20"></mat-spinner>
        <span>Salvando</span>
      } @else {
        <span>Salvar</span>
      }
    </button>
  </mat-card-actions>
</mat-card>
