<mat-card [formGroup]="orderForm" class="order-form-card">
  <mat-card-header class="order-form-header">
    <div class="form-titles">
      <mat-card-title>Gerando pedido</mat-card-title>
      <mat-card-subtitle>Preencha os dados</mat-card-subtitle>
    </div>
    <button
      class="close-button"
      mat-icon-button
      (click)="closeOrderForm()"
      aria-label="Fechar formulário"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content class="order-form-content">
    <div class="main-fields-grid">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Endereço da obra</mat-label>
        <input matInput type="text" formControlName="workAddress" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Desconto</mat-label>
        <input matInput type="number" formControlName="discount" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Notas</mat-label>
        <input matInput type="text" formControlName="notes" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Cotação</mat-label>
        <mat-select formControlName="quotationId">
          <mat-option [value]="null">Selecione uma cotação</mat-option>
          @for(quotation of quotations(); track $index) {
          <mat-option [value]="quotation.id">
            {{ quotation.id.split('-').at(0) }} de {{ quotation.customer.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    @defer (when getPaymentsFormArray().length > 0) {
    <div class="payments-section">
      <h4 class="section-title">Pagamentos</h4>
      <div [formArrayName]="'payments'" class="payments-form-array">
        @for (payment of getPaymentsFormArray(); track $index; let i = $index) {
        <div [formGroupName]="i" class="payment-item-group">
          <h5 class="payment-item-header">
            Pagamento {{ i + 1 }}
            <button
              mat-icon-button
              color="warn"
              (click)="removePayment(i)"
              aria-label="Remover pagamento"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </h5>
          <div class="payment-fields-grid">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label>Valor Pago</mat-label>
              <input matInput type="number" formControlName="payedValue" />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="full-width-field col-span-2"
            >
              <mat-label>Detalhes</mat-label>
              <input matInput type="text" formControlName="details" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label>Tipo de pagamento</mat-label>
              <mat-select formControlName="paymentType">
                <mat-option [value]="null"
                  >Selecione um tipo de pagamento</mat-option
                >
                @for (paymentType of paymentTypes; track $index) {
                <mat-option [value]="paymentType.value">{{
                  paymentType.name
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        @if (i !== getPaymentsFormArray().length - 1) {
        <mat-divider class="payment-item-divider"></mat-divider>
        } }
      </div>
    </div>
    }

    <div class="add-payment-button-container">
      <button mat-button (click)="addNewPayment()">
        <mat-icon>add</mat-icon> Pagamento
      </button>
    </div>
  </mat-card-content>

  <mat-card-actions class="order-form-actions">
    <button mat-stroked-button (click)="closeOrderForm()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="submitOrderForm()">
      @if (isSaving()) {
      <mat-spinner diameter="20"></mat-spinner>
      <span>Salvando</span> } @else { <span>Salvar</span> }
    </button>
  </mat-card-actions>
</mat-card>
