<div class="miscellaneous-materials-container">
  @for (material of miscellaneousMaterials(); track $index) {
  <mat-card class="miscellaneous-material-card">
    <mat-card-header>
      <mat-card-title>{{ material.name }}</mat-card-title>
      <mat-card-subtitle>
        <div class="price-section">
          <span>{{ material.price | currency : "BRL" }}</span>
          <button
            matTooltip="Atualizar preço"
            matTooltipPosition="right"
            mat-icon-button
            (click)="openUpdateMiscellaneousMaterialPrice(material)"
          >
            <mat-icon>price_change</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <button
        mat-icon-button
        class="material-menu-button"
        [matMenuTriggerFor]="miscellaneousMaterialMenu"
        aria-label="Menu de opções"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #miscellaneousMaterialMenu="matMenu">
        <button mat-menu-item (click)="editMiscellaneousMaterial(material)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteMiscellaneousMaterial(material)">
          <mat-icon>delete</mat-icon>
          <span>Excluir</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Cor/Detalhes:</strong> {{ material.details }}</p>
      <p>
        <strong>Último preço:</strong>
        {{ material.lastPrice | currency : "BRL" }}
      </p>
      <p>
        <strong>Tipo:</strong>
        {{ material.miscellaneousMaterialType | miscellaneousMaterialType }}
      </p>
    </mat-card-content>
  </mat-card>
  }
</div>
