<form [formGroup]="materialForm" class="card px-3 py-2 bg-light">
  <div
    class="card-header d-flex align-items-center justify-content-between mb-3"
  >
    <div class="form-titles">
      <h5 class="card-title">Adicionando material</h5>
      <h6 class="card-subtitle">Preencha os dados</h6>
    </div>
    <button
      (click)="closeMaterialForm()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <div class="d-flex gap-2">
    <div class="form-floating mb-3 col-3">
      <input
        type="text"
        class="form-control"
        id="floatingMaterialNameInput"
        placeholder="name@example.com"
        formControlName="name"
      />
      <label for="floatingMaterialNameInput">Nome</label>
    </div>
    <div class="form-floating col-3">
      <input
        type="text"
        class="form-control"
        id="floatingMaterialDetailsInput"
        placeholder="(11) 911111111"
        formControlName="details"
      />
      <label for="floatingMaterialDetailsInput">Cor/Detalhes</label>
    </div>
    <div class="form-floating mb-3 col-2">
      <input
        type="number"
        class="form-control"
        id="floatingMaterialPriceInput"
        placeholder="Password"
        formControlName="price"
      />
      <label for="floatingMaterialPriceInput">Preço</label>
    </div>
    <div class="form-floating col-3">
      <select
        [formControlName]="materialTypeControlName"
        type="type"
        class="form-select"
        id="floatingCustomerAddressInput"
        placeholder="Password"
        formControlName="address"
      >
        @for(type of types; track $index) {
        <option [value]="type.value">{{ type.label }}</option>
        }
      </select>
      <label for="floatingCustomerAddressInput">Tipo de Material</label>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-2 mt-3">
    <button
      type="button"
      (click)="closeMaterialForm()"
      class="btn btn-secondary"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="submitMaterialForm()"
      class="btn btn-warning"
    >
      @if (isSaving()) {
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      Salvando } @else { Salvar }
    </button>
  </div>
</form>
