<div class="container-fluid bg-white h-100">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-10 mx-auto py-3 d-flex flex-column gap-3">
      <app-controller
        controllerTitle="Orçamentos"
        controllerIconText="clipboard2"
        controllerPrimaryButtonText="Criar orçamento"
        (add)="openAddQuotationForm()"
      ></app-controller>
      @if (isQuotationFormOpened()) {
      <app-quotation-form></app-quotation-form>
      } @if (quotations$ | async; as quotations) {
      <app-quotation-list [quotations]="quotations"></app-quotation-list>
      }
    </div>
  </div>
</div>
