<mat-accordion class="payments-accordion-group" multi>
  <h3>Entradas</h3>
  @for(payment of payments(); track $index; let j = $index) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="text-success">
        + {{ payment.payedValue | currency : "BRL" }}
      </mat-panel-title>
      <mat-panel-description>
        {{ payment.paymentDate | date : "dd/MM/yyyy" }}
        <mat-icon class="text-success">call_received</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="accordion-body-content">
      <h6>Detalhes</h6>
      <p>
        <strong>Cliente: </strong>
        <span>{{ payment.customer?.name }}</span>
      </p>
      <p>
        <strong>Observações: </strong>
        <span>{{ payment.details }}</span>
      </p>
      <p>
        <strong>Tipo: </strong>
        <span>{{ payment.paymentType | paymentType }}</span>
      </p>
      <p>
        <strong>Valor Total: </strong>
        <span>{{ payment.orderFinalValue | currency : "BRL" }}</span>
      </p>
      <p>
        <strong>Status: </strong>
        <span
          [ngClass]="getOrderPaymentStatusClass(payment.orderPaymentStatus!!)"
          >{{ payment.orderPaymentStatus!! | paymentStatus }}</span
        >
      </p>
    </div>
  </mat-expansion-panel>
  }
</mat-accordion>
