.controller-card
  width: 100%
  box-shadow: none
  margin-top: 1rem
  background-color: transparent
  mat-card-content
    padding: 0
  mat-card-header
    padding: 0
    margin-bottom: .5rem
    mat-card-title
      display: flex
      align-items: center
      gap: 0.5rem
      font-size: 1.5rem


.search-and-button-container
  display: flex
  justify-content: space-between
  gap: 16px
  margin: 0
  flex-wrap: wrap

.search-input-field
  flex-grow: 1
  max-width: 50%
  margin-bottom: 0

@media (max-width: 767px)
  .search-input-field
    max-width: 100%

  .add-button
    width: 100%

  .search-and-button-container
    flex-direction: column
    align-items: stretch


.add-button mat-icon
  font-size: 24px
  height: 24px
  width: 24px
