<mat-card class="controller-card">
  <mat-card-content>
    <h4 class="controller-title">
      {{ controllerTitle() }}
      <mat-icon>{{ controllerIconText() }}</mat-icon>
    </h4>

    <div class="search-and-button-container">
      <mat-form-field appearance="outline" class="search-input-field">
        <mat-icon matPrefix>search</mat-icon> <input matInput #searchString
               (keyup)="emitSearchString(searchString.value)"
               placeholder="Pesquisar">
      </mat-form-field>

      <button mat-raised-button color="accent" class="add-button" (click)="emitAdd()">
        <mat-icon>add</mat-icon> <span>{{ controllerPrimaryButtonText() }}</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>
