<div class="card shadow-sm mx-auto">
  <div class="card-body">
    <h4 class="card-title">
      {{ controllerTitle() }}
      <i class="bi bi-{{ controllerIconText() }}"></i>
    </h4>
    <div class="col d-flex justify-content-between">
      <div class="input-group w-50">
        <span
          class="input-group-text d-flex align-items-center justify-content-center"
          id="search"
          ><i class="bi bi-search"></i
        ></span>
        <input
        #searchString
        (keyup)="emitSearchString(searchString.value)"
          type="text"
          class="form-control custom-input"
          placeholder="Pesquisar"
          aria-describedby="search"

        />
      </div>
      <button (click)="emitAdd()" class="btn btn-warning d-flex align-items-center justify-content-center gap-2">
        <span class="fs-4">+</span>
        {{ controllerPrimaryButtonText() }}
      </button>
    </div>
  </div>
</div>
