<div class="finance-container container-80">
  <app-controller
    controllerTitle="Finanças"
    controllerIconText="account_balance"
    controllerPrimaryButtonText="Registrar transação"
    (add)="openModal('transactionType')"
  ></app-controller>
  @if (orders$ | async; as orders) { @if (isPaymentFormOpened()) {
  <app-payment-form
    (close)="closePaymentForm()"
    (submit)="submitPaymentForm($event)"
    [orders]="orders"
  ></app-payment-form>
  } } @if (bills$ | async; as bills) { @if (isExpenseFormOpened()) {
  <app-expense-form
    [bills]="bills"
    (close)="closeExpenseForm()"
    (submit)="submitExpenseForm($event)"
  >
  </app-expense-form>
  } }
  <app-financial-balance
    [totalBills]="totalExpenses"
    [totalPayments]="totalPayments"
  ></app-financial-balance>
  <div class="d-flex gap-2">
    @if (payments$ | async; as payments) {
    <app-payment-list class="col-6" [payments]="payments"></app-payment-list>
    } @if (expenses$ | async; as expenses) {
    <app-expense-list class="col-6" [expenses]="expenses"></app-expense-list>
    }
  </div>
</div>
