<div class="container-80">
  <div class="row">
    <div class="col-10 mx-auto py-3 d-flex flex-column gap-3">
      <app-controller
        controllerTitle="Clientes"
        controllerIconText="people"
        matTooltipText="Adicionar Cliente"
        (add)="openAddCustomerForm()"
        (search)="searchCustomer($event)"
      ></app-controller>
      @if (isCustomerFormOpened()) {
      <app-customer-form
        (close)="closeAddCustomerForm()"
        (submit)="saveCustomer($event)"
        [isSaving]="isSaving()"
        [customer]="editingCustomer"
      ></app-customer-form>
      } @if (customers$ | async; as customers) {
      <app-customer-list
        [customers]="customers"
        (delete)="openConfirmationDeleteModal($event)"
        (edit)="openEditCustomerForm($event)"
        [searchString]="searchString()"
      >
      </app-customer-list>
      }
    </div>
  </div>
</div>
