.container-fluid
  height: 100%
  .form-section
    img
      width: 10rem
    .divider
      font-weight: 400
      span
        text-transform: uppercase
      div
        width: 100%
        height: 1px
        background-color: gray

  .main-section
    background-image: url("/img/gold-marble.jpg")
    background-size: cover
    h1
      font-size: 8rem

