<main class="container-80">
  <section class="form-section">
    <h3>{{ title() }}</h3>
    <ng-content></ng-content>
    <div class="buttons-wrapper">
      <button class="w-100" (click)="submitLogin()" matButton="filled" cdkFocusInitial>
        {{ primaryBtnText() }}
      </button>
      <span>OU</span>
      <button class="w-100" matButton="elevated">
        {{ secondaryBtnText() }}
      </button>
    </div>
  </section>
  <section class="hero-section">
    <h1 class="text-white">Gerenciando seu futuro.</h1>
  </section>
</main>
